#chat_window_list{
    overflow-y: auto;
    height: 200px;
    border: 2px solid;
    /* display: flex;
    flex-wrap: wrap;
    align-content: flex-end; */
}
#chat_window_list li{
    min-height: 1rem;
    /* width: 100%; */
}
#chat_window_list > :first-child{
    margin-top: calc(200px - 1rem);
}
#chat_room_list li:hover{
    font-style: italic;
}
#chat_room_list li{
    cursor: pointer;
} 
