<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ChatOne</title>
</head>
<body>
    <nav>
        <p>Username: {{ user_data["user_name"] }}</p>
        <a href="{{ url_for('logout') }}">logout</a>
    </nav>
    <section id="chat_rooms">
        Chat rooms go here
        <ul id="chat_room_list">
            {% for key, value in user_data.chat_rooms.items()  %}
            <li data-index="{{ key }}" onclick="change_room({{ key  }},{{ value  }})">{{ value['name'] }}</li>
            {% endfor %}
        </ul>
        <form action="" id="room_form" method="GET" autocomplete="off">
            <input type="text" name="room_input" id="room_input">
            <input type="submit">
        </form>
    </section>
    <section id="chat_window" data-room_id="{{ session.chat_room_id }}">
        <h2 id='room_header'>Room: {{ session.chat_room_name }}</h2>
        <ul id="chat_window_list" >
            {% for text in user_data.chat_log %}
            <li><strong>{{ text.user_name }}</strong> {{ text.text }}</li>
            {% endfor %}
        </ul>
        <form action="" id="chat_box" method="GET" autocomplete="off">
            <input type="text" name="chat_input" id="chat_input">
            <input type="submit">
        </form>
    </section>
    
</body>
</html>